.home {
  margin-top: 30px;
}
.home__intro {
  display: flex;
  align-items: center;
  gap: 12px;
}

.home__intro-title {
  max-width: 709px;
  width: 100%;
  color: #FFF;
  font-family: Arial;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 80%; /* 64px */
}

.home__choose {
  max-width: 495px;
  width: 100%;
  color: #FFF;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
}
.home__send {
  margin-top: 15px;
  display: inline-flex;
  padding: 10px 10px 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: #1A187D;
}
.home__send p {
  color: #FFF;
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.home__img {
  margin-top: 30px;
  max-width: 1216px;
  width: 100%;
}
.home__logos {
  margin-top: 30px;
  height: 72px;
  display: flex;
  justify-content: space-between;
}
.home__logos img {
  height: 72px;
}

.homeIntro {
  margin-top: 130px;
}
.homeIntro__wrapper h2 {
  color: #FFF;
  text-align: center;
  font-family: Arial;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 80px */
}
.homeIntro__wrapper img {
  position: relative;
  z-index: -1;
  max-width: 1216px;
  width: 100%;
  margin-top: -30px;
}

@media (max-width: 1240px) {
  .home__intro {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
}
@media (max-width: 1100px) {
  .homeIntro__wrapper h2 {
    font-size: 60px;
  }
}
@media (max-width: 1000px) {
  .home__logos {
    gap: 40px;
    overflow: auto;
  }
  .home__logos::-webkit-scrollbar {
    display: none;
  }
}
@media (max-width: 730px) {
  .home__intro-title {
    font-size: 36px;
  }
  .home__choose {
    font-size: 14px;
  }
  .homeIntro__wrapper h2 {
    font-size: 40px;
  }
}
@media (max-width: 550px) {
  .homeIntro__wrapper h2 {
    font-size: 30px;
  }
}
@media (max-width: 490px) {
  .home__img {
    height: 300px;
    object-fit: cover;
  }
  .home__logos img {
    height: 50px;
  }
}
@media (max-width: 420px) {
  .homeIntro__wrapper img {
    margin-top: -170px;
    height: 320px;
    object-fit: cover;
  }
  .homeIntro__wrapper h2 {
    font-size: 25px;
  }
}
